[submodule "awesome-pancakeswap-lottery/lib/forge-std"]
	path = awesome-pancakeswap-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test/lib/forge-std"]
	path = test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
